body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 10px;
}

.accordion-button {
  font-weight: bold;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 2px 6px;
}

.case-description {
  white-space: pre-wrap;     /* respeta saltos de línea */
  word-wrap: break-word;
  overflow-wrap: break-word;
}








