body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 10px;
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  background: #fff;
}

.case-card {
  background: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 6px;
}

.case-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.case-body {
  display: none;
  padding-top: 5px;
}

